DATABASE_URL="postgresql://nelly:nelly@localhost:5432/nelly_import?schema=public"
AUTH_SECRET="replace-with-at-least-32-random-characters"
SEED_ADMIN_EMAIL="admin@nelly.local"
SEED_ADMIN_PASSWORD="ChangeMe123!"
